build/cmake_install.cmake
build/CMakeCache.txt
build/elangine
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.27.1/CMakeCCompiler.cmake
build/CMakeFiles/3.27.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.1/CMakeSystem.cmake
build/CMakeFiles/3.27.1/CompilerIdC/a.out
build/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.1/CompilerIdCXX/a.out
build/CMakeFiles/3.27.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/elangine.dir/build.make
build/CMakeFiles/elangine.dir/cmake_clean.cmake
build/CMakeFiles/elangine.dir/compiler_depend.make
build/CMakeFiles/elangine.dir/compiler_depend.ts
build/CMakeFiles/elangine.dir/depend.make
build/CMakeFiles/elangine.dir/DependInfo.cmake
build/CMakeFiles/elangine.dir/flags.make
build/CMakeFiles/elangine.dir/link.txt
build/CMakeFiles/elangine.dir/progress.make
build/CMakeFiles/elangine.dir/src/gl.c.o
build/CMakeFiles/elangine.dir/src/gl.c.o.d
build/CMakeFiles/elangine.dir/src/main.c.o
build/CMakeFiles/elangine.dir/src/main.c.o.d
build/CMakeFiles/elangine.dir/src/math/linearAlgebra.c.o
build/CMakeFiles/elangine.dir/src/math/linearAlgebra.c.o.d
build/CMakeFiles/elangine.dir/src/modules/sceneManager.c.o
build/CMakeFiles/elangine.dir/src/modules/sceneManager.c.o.d
build/CMakeFiles/elangine.dir/src/modules/io/fileManager.c.o
build/CMakeFiles/elangine.dir/src/modules/io/fileManager.c.o.d
build/CMakeFiles/elangine.dir/src/modules/io/keyHandle.c.o
build/CMakeFiles/elangine.dir/src/modules/io/keyHandle.c.o.d
build/CMakeFiles/elangine.dir/src/modules/io/window.c.o
build/CMakeFiles/elangine.dir/src/modules/io/window.c.o.d
build/CMakeFiles/elangine.dir/src/modules/render/camera.c.o
build/CMakeFiles/elangine.dir/src/modules/render/camera.c.o.d
build/CMakeFiles/elangine.dir/src/modules/render/shader.c.o
build/CMakeFiles/elangine.dir/src/modules/render/shader.c.o.d
build/CMakeFiles/elangine.dir/src/objects/cuboid.c.o
build/CMakeFiles/elangine.dir/src/objects/cuboid.c.o.d
build/CMakeFiles/elangine.dir/src/objects/transform.c.o
build/CMakeFiles/elangine.dir/src/objects/transform.c.o.d
build/assets/shaders/default.frag
build/assets/shaders/default.vert
build/src/cmake_install.cmake
build/src/Makefile
build/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/CMakeFiles/progress.marks
build/src/math/cmake_install.cmake
build/src/math/Makefile
build/src/math/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/math/CMakeFiles/progress.marks
build/src/modules/cmake_install.cmake
build/src/modules/Makefile
build/src/modules/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/modules/CMakeFiles/progress.marks
build/src/modules/io/cmake_install.cmake
build/src/modules/io/Makefile
build/src/modules/io/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/modules/io/CMakeFiles/progress.marks
build/src/modules/render/cmake_install.cmake
build/src/modules/render/Makefile
build/src/modules/render/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/modules/render/CMakeFiles/progress.marks
build/src/objects/cmake_install.cmake
build/src/objects/Makefile
build/src/objects/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/objects/CMakeFiles/progress.marks
build/CMakeFiles/elangine.dir/compiler_depend.internal
.vscode/settings.json
build/CMakeFiles/elangine.dir/src/math/scaler.c.o
build/CMakeFiles/elangine.dir/src/math/scaler.c.o.d
build/build.ninja
build/glfw3.dll
build/CMakeFiles/rules.ninja
build/assets/shaders/cubeFromInstances.vert
build/.ninja_deps
build/.ninja_log
build/CMakeFiles/elangine.dir/src/math/matrix.c.o
build/elangine.exe
build/CMakeFiles/3.26.4/CMakeCCompiler.cmake
build/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
build/CMakeFiles/3.26.4/CMakeSystem.cmake
build/CMakeFiles/3.26.4/CompilerIdC/a.exe
build/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.4/CompilerIdCXX/a.exe
build/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/assets/shaders/cude8m.vert
build/assets/shaders/cube8m.vert
