.vscode/settings.json
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/elangine
build/glfw3.dll
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.27.4/CMakeCCompiler.cmake
build/CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.4/CMakeSystem.cmake
build/CMakeFiles/3.27.4/CompilerIdC/a.out
build/CMakeFiles/3.27.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.4/CompilerIdCXX/a.out
build/CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/elangine.dir/src/main.c.o
build/CMakeFiles/elangine.dir/src/core/engine.c.o
build/CMakeFiles/elangine.dir/src/core/gl.c.o
build/CMakeFiles/elangine.dir/src/core/keyHandle.c.o
build/CMakeFiles/elangine.dir/src/core/window.c.o
build/CMakeFiles/elangine.dir/src/object/cuboid.c.o
build/CMakeFiles/elangine.dir/src/render/camera.c.o
build/CMakeFiles/elangine.dir/src/render/shader.c.o
build/CMakeFiles/elangine.dir/src/resource/fileManager.c.o
build/CMakeFiles/elangine.dir/src/scene/sceneManager.c.o
build/assets/shaders/blend.frag
build/assets/shaders/bloom.frag
build/assets/shaders/cube8m.vert
build/assets/shaders/cubeFromInstances.vert
build/assets/shaders/default.frag
build/assets/shaders/default.vert
build/assets/shaders/flat.frag
build/assets/shaders/flat.vert
build/assets/shaders/gussianBlur.frag
build/src/cmake_install.cmake
build/src/core/cmake_install.cmake
build/src/object/cmake_install.cmake
build/src/render/cmake_install.cmake
build/src/resource/cmake_install.cmake
build/src/scene/cmake_install.cmake
